body{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%235e5e5e' fill-opacity='0.16' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.parte_superior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parte_superior h1{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}

#board {
	width: 300px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
    padding: 40px;
    border-radius: 10px;
}

.square:nth-child(1),.square:nth-child(2),.square:nth-child(3){
    border-top: none;
}
.square:nth-child(7),.square:nth-child(8),.square:nth-child(9){
    border-bottom: none;
}
.square:nth-child(1),.square:nth-child(4),.square:nth-child(7){
    border-left: none;
}
.square:nth-child(3),.square:nth-child(6),.square:nth-child(9){
    border-right: none;
}

.square {
	width: 100px;
	height: 100px;
	border: 5px solid rgb(255, 255, 255);
	box-sizing: border-box;
	font-size: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 15px #e9e9e9, 0 0 20px #ffffff,
    0 0 35px #ffffff;
}

.square:hover {
	background-color: #ffffff;
    color: black;
}

.ganhou{
    background-color:  #e9e9e9;
}

#reinicia-btn {
    background-color: #211f1f;
    color: #e9e9e9;
    border-radius: 50px;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 20px;
    font-size:20px;
    cursor: pointer;
}

#reinicia-btn:hover{
    background-color: rgb(195, 195, 195);
    color: black;
}

.ganhou{
    background-color: rgb(33, 143, 11);
}

#status{
    padding: 20px;
    color: #e9e9e9;
    border-radius: 50px;
    font-size: 150%;
}